	h1 {
		font-size: 50px;
		margin: 5px;
	}

	.round {
		border-radius: 25px;
	}
 	.topborder {
 		border-top: 20px;
 	}
	body {
		font-family: 'Roboto', sans-serif;
		padding: 20px;
	}

	h2 {
		color: red;
	}

	a:hover {
		color: red;
		font-size: 20px;
	}

	nav a{ 
		text-decoration: none;
	} 


